.Login  {
    background-color: #d485bd ;
    color: #444054;
    text-align: center;
}

.login-top h1 {
    color:#d485bd;
    font-style: italic;
    margin-bottom: 0;
    font-size: 3.5em;
}

.login-top h2 {
    margin-top: 0;
}

.login-base {
    background-color: white;
    margin: 3em;
    margin-top:4em;
    padding-top: 3em;
    padding-bottom: 6em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:400px;
}

.user-info{
    display: grid;
    justify-content: center;
    gap:20px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.user-info input {
    width: 100%;
    height:35px;
    border:none;
    border-bottom: #d485bd solid 2px;
}

button {
    background-color: #2F243A;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;;
}

.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.sign-up a {
    text-decoration: none;
    padding-right:3px;
    padding-left: 3px;
    color: #d485bd;
    font-weight: bold;
}

 a:hover{
    cursor: pointer;
}
 button:hover {
    cursor: pointer;
}

.Sign-Up {
    background-color: #d485bd ;
    color: #444054;
    text-align: center;
}

.back {
    text-align: left;
    padding-left:20px;
    padding-bottom: 3.8em;;
}

.Sign-base {
    background-color: white;
    margin: 3em;
    margin-top:4em;
    padding-top: 1em;
    padding-bottom: 8em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:400px;
}

.arrow {
  border: solid #2F243A;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media (min-width: 600px)
{
    .login-base {
    background-color: white;
    margin: 3em;
    margin-top:3em;
    padding-top: 6em;
    padding-bottom: 6em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:600px;
    }
    .Sign-base {
    background-color: white;
    margin: 3em;
    margin-top:3em;
    padding-top: 1em;
    padding-bottom: 11em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:600px;
    }

    .user-info input {
    width: 250px;
    height:35px;
    }

    .Login button {
    background-color: #2F243A;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;;
    }
     .Sign-Up button {
    background-color: #2F243A;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;;
    }

    .sign-up {
        font-size: medium;
    }
}