.Login  {
    background-color: #d485bd ;
    color: #444054;
    text-align: center;
}

.login-top h1 {
    color:#d485bd;
    font-style: italic;
    margin-bottom: 0;
    font-size: 3.5em;
}

.login-top h2 {
    margin-top: 0;
}

.login-base {
    background-color: white;
    margin: 3em;
    margin-top:4em;
    padding-top: 3em;
    padding-bottom: 6em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:400px;
}

.user-info form{
    display: grid;
    justify-content: center;
    gap:20px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.user-info input {
    width: 100%;
    height:35px;
    border:none;
    border-bottom: #d485bd solid 2px;
}

button {
    background-color: #2F243A;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;;
}

.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.sign-up a {
    text-decoration: none;
    padding-right:3px;
    padding-left: 3px;
    color: #d485bd;
    font-weight: bold;
}

 a:hover{
    cursor: pointer;
}
 button:hover {
    cursor: pointer;
}

.Sign-Up {
    background-color: #d485bd ;
    color: #444054;
    text-align: center;
}

.back {
    text-align: left;
    padding-left:20px;
    padding-bottom: 3.8em;;
}

.Sign-base {
    background-color: white;
    margin: 3em;
    margin-top:4em;
    padding-top: 1em;
    padding-bottom: 8em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:400px;
}

.arrow {
  border: solid #2F243A;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

footer {
    font-style: italic;
}

/* Profile Page Styles */
.ProfilePage{
    text-align: center;
    margin:0;
}
.prof-header {
    background-color: #d485bd;
    color: white;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.prof-header h1 {
    margin:0;
    font-size: 2em;
    flex-grow:1;
    text-align: center;
    
}
.prof-header .back {
    position: absolute;
    left: 25px;
    top: 25px;
    padding:0;
    margin:0;
}


.card-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #d485bd solid 2px;
    padding-bottom: 2px;
    gap:10px;
}

.card-edit button {
    background-color: white;
    color: #2F243A;
    width: auto;
    height: auto;
    border:none;
    font-size: small;
    align-items: end;
}

.right-card .card-edit button:hover {
    cursor: pointer;
    text-decoration: underline;}
.card-edit h3 {
      
    font-size: 1.2em;
}


.profile-left {
    text-align: left;
    margin-left:35px;
    margin-right:35px;
    padding:1%;
    margin-top:30px;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 15px;
}
.profile-left hr {
    border: dashed;
    color: #2F243A;
    margin-top: 10px;
}

.left-top {
    background-color: #d485bd;
    margin:0;
    text-align: center;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    
}
.left-top img {
    width: 40%;
    height: auto;
    border-radius:50%;
}
.left-bottom {
    background-color: white;
    padding-left:2em;
    padding-top:1em;
    margin-bottom: 3em;
}
.left-bottom p {
    text-align: left;
    font-size: medium;
    margin:0.5em;
}

.right-card {
    border-left:#2F243A solid 5px;
    border-radius: 10px;
    padding-left:2.5em;
    padding-right:2.5em;
    margin:30px;
    padding-bottom: 15px;
    box-shadow: -5px 0 7px  #8c6883;
   
}

.right-card p {
    text-align: left;
    font-size: medium;
    margin:0.5em;
    border-left: #d485bd solid 5px;
    padding-left:10px;    
}
#info-view{
    text-align: left;
    font-size: medium;
}
#info-edit  {
    margin-top:.5em;
}

#info-edit label{
    text-align: left;
    font-size: medium;
    font-weight: bold;
    margin:0.5em;
    border-left: #d485bd solid 5px;
    padding-left:10px;
    
}

.profile-right {
    text-align: left;
    margin:0;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.prof-info {
    display: flex;
    flex-direction: column;
    gap:10px;
   padding-bottom: 45px;

}



.hidden { display: none; }













/* Employee-Dash Styles */
.Employee-Dash {
    margin:0;
    height:100%;
   
}

.dash {
    height:100vh;
    display: flex;
    width: 100%;
}

.menu {
    background-color: #2F243A;
    color: white;
    padding: 1em;
    width:auto;    
}
.nav-menu h1 {
    text-align: center;
    margin:0;
    font-style: italic;
    font-size: 3em;
}
.nav-menu h3 {
    text-align: center;
    margin-top:0;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}



.nav-menu ul {
    list-style-type: none;
    padding: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: medium;
    display: block;
    padding: 8px;
    font-size: larger;
    
}

.nav-menu a:hover {
    background-color: #4d4054;
    cursor: pointer;
    border-radius: 10px;
    width:100%;
}


.dashboard-content {
    width: 100vw;

}

.dashboard-message {
   background-color: #d485bd;
   width:100%;
   text-align: center;
    padding-top:1em;
    padding-bottom:1em;
}



.dash-card-left{
    display: flex;
    flex-direction: column;
    width:auto;
}
.card-top{
    display:flex;
    flex-direction: column;
    
}

.dash-card{
    background-color: #f4c1e0;
    padding: 3%;
    border-radius: 10px;
    margin:10px;
    border-left:#2F243A solid 5px;
    width: auto;
}





@media (min-width: 600px)
{
    .login-base {
    background-color: white;
    margin: 3em;
    margin-left: 25%;
    margin-right:25%;
    margin-top:3em;
    padding-top: 6em;
    padding-bottom: 6em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:600px;
    }
    .Sign-base {
    background-color: white;
    margin: 3em;
    margin-left: 25%;
    margin-right:25%;
    margin-top:3em;
    padding-top: 1em;
    padding-bottom: 11em;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 5px;
    height:600px;
    }

    .user-info input {
    width: 250px;
    height:35px;
    }

    .Login button {
    background-color: #2F243A;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;;
    }
     .Sign-Up button {
    background-color: #2F243A;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;;
    }

    .sign-up {
        font-size: medium;
    }

    .prof-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    }


    .profile-left {
    text-align: left;
    width:25%;
    margin-top:30px;
    box-shadow: 0 0 5px 3px #8c6883;
    border-radius: 15px;
    }

    .profile-right {
    text-align: left;
    margin-top:3em;
    display: flex;
    flex-direction: column;
    gap:30px;
    
    }
    .left-top img {
    width: 35%;
    height: auto;
    border-radius:50%;
    }

    .menu {
    background-color: #2F243A;
    color: white;
    padding: 1em;
    width:15%;    
    }
    .card-top{
    display:flex;
    flex-direction: row;
}


    .card-top {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;}
    .dash-card-right .dash-card {
        height: 80%;
    }

   /*profile*/
    .right-card {
        margin:0;
        padding-left:2.5em;
    }
}